<div class="row ml-0">    
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563053764-85dbf278c408?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
        <div class="container2">
            <h1 class="text-center">Healthy<strong> Body </strong> </h1>
            <p class="text-center">Find the products your body needs</p>
        </div>   
        <div class="container" style="display: flex; justify-content: center;">
            <div class="select-box">
                <div class="selected text-center">
                    
                    <%= form_with(url: body_path(@affiliate), method: :get, local: true) do |form| %>
                    <%= form.select :order, ["Health Supplements", "Vitamins", "Minerals"] %> 
                    <%= form.submit "Go" %>
                    <% end %>
                </div>
        
                
            </div>  
        </div>
    </div>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526367021122-ad6dd486f9b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
        <div class="container2">
            <h1 class="text-center">Healthy<strong> Mind</strong> </h1>
            <p class="text-center">Find the products your mind needs</p>
        </div>
        <div class="container"style="display: flex; justify-content: center;">
            <%# <div class="select-box"> %>
                
            
            <%# </div> %>
        </div>  
    </div>
   

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
        <div class="container2">
            <h1 class="text-center">Healthy<strong> Spirit </strong> </h1>
            <p class="text-center">Find the products your spirit needs</p>
        </div>
        <div class="container" style="display: flex; justify-content: center;">
            <div class="select-box text-center">              
                <div class="selected text-center">
               
                    <%= form_with(url: spirit_path(@affiliate), method: :get, local: true) do |form| %>
                    <%= form.select :order, ["Concert Tickets", "Motivational Movies", "Positivism"] %> 
                    <%= form.submit "Go" %>
                    <% end %>
                </div>                  
                
            </div>
        </div>
    </div>
</div>  

<div class="justify-content-around ">
    <div class="container row col-12 lg-12">
    <% @affiliates.each do |affiliate| %>
        <div class="col-4">
            <div class="col">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary"> Categroy</strong>           
                        <h3 class="mb-0"><%= affiliate.title %></h3>
                        <div class="mb-1 text-muted"></div>
                        <p class="card-text mb-auto"><%= affiliate.body %></p>
                        <%= link_to "Read More", affiliate_path(affiliate), :class => 'btn btn-default' %>                   
                        </div>
                    <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
            </div>
        </div>
        <% end  %>
    </div>
</div>
<div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
<script>

if(Popper) alert('It is loaded');
</script>