<div class="container">
<% if current_user && current_user.admin %>
<h1> Edit Affiliate </h1>
    <%= form_for :affiliate, url: affiliate_path(@affiliate), method: :patch do |f| %>
    <% if @affiliate.errors.any? %>
        <% @affiliate.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"> <%= msg %> </div>
        <% end  %>
    <% end %>
    <p>
        <%= f.label :title %> <br>
        <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.label :body %> <br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.submit ({:class => 'btn btn-primary'}) %>
    </p>
    <button onclick="goBack()">Go Back</button>
    <% end %>
<% end %>
</div>

<script>
const goBack = () => {
  onclick = window.history.back();
  }
</script>
