  <% if current_user %> 
    <%= link_to 'Sign Out', destroy_user_session_path, 
    method: :delete %>
  <% else %>
  <%= link_to 'Log In', new_user_session_path %>
  <%= link_to 'Sign Un', new_user_registration_path %>
    <% end %>

<%# <div class="text-center">
  <p class="notice"><%= notice %>
  <%# <p class="alert"><%= alert %>
<%# </div>  %>