<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>Trinity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true  %>
  </head>

  <body style="margin: 0;">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Body Mind Spirit</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark float-left" ><%= link_to 'Home', root_path %></a>
      <% if current_user && current_user.admin %>
      <a class="p-2 text-dark float-left" ><%= link_to 'Create Affiliate', new_affiliate_path %></a>
      <% end %>
      <% if current_user  %>
      <a class="p-2 text-dark"> <%= link_to 'Profile', user_path(current_user) %> </a>
      <% end %>
      <a class="p-2 text-dark"> <%= render 'layouts/alerts' %> </a>
    </nav>
</div>

    <%= yield %>
  </body>
  <%= render 'shared/footer' %>
</html>
